.myst-bibliography {
  display: none;
}
.fig-caption-text figcaption,
figure.fig-caption-text figcaption p {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}
.centered-text {
  text-align: center;
}
